@{
    ViewBag.Title = "_footer";
}

<body>
    <div class="footer">
        
        <div class="copy_right">
            <div class="social-icons">

                <ul>
                    <li><a href="#" target="_blank"><img src="~/images/facebook.png" alt="" style="height:50px;width:auto;" /></a></li>
                    <li><a href="#" target="_blank"><img src="~/images/twitter.png" alt="" style="height:50px;width:auto;" /></a></li>
                    <li><a href="#" target="_blank"><img src="~/images/skype.png" alt="" style="height:50px;width:auto;" /> </a></li>
                    <li><a href="#" target="_blank"> <img src="~/images/dribbble.png" alt="" style="height:50px;width:auto;" /></a></li>
                    <li><a href="#" target="_blank"> <img src="~/images/linkedin.png" alt="" style="height:50px;width:auto;" /></a></li>
                    <div class="clear"></div>
                </ul>
            </div>
            <p>DA COMPUTERS © All rights Reseverd | Design by <b>AMIR MUGHAL</b></a> </p>
        </div>
    </div>
</body>
