@{
    ViewBag.Title = "woofer";
}

@{
    ViewBag.Title = "headphones";
}

<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<head>
    @Html.Partial("_header")
</head>
<body>
    <div class="main">
        <div class="content">
            <div class="content_top">
                <div class="heading">
                    <h3>New Products</h3>
                </div>
                <div class="see">
                    <p><a href="#">See all Products</a></p>
                </div>
                <div class="clear"></div>
            </div>
            @*
                @{
                    int count = 0;
                }
                @{
                    @foreach (var s in Model)
                    {
                        count++;
                    }
                }

                @{
                    int j = 1;
                    int h  = 1;


                }
            *@              <div id="main">
            </div>
            <div class="section group">
                @foreach (var i in Model)
                {




                    @*@foreach(var b in Model){


                        if (h % 5 != 0)
                        {

                    *@

                    <div class="grid_1_of_4 images_1_of_4">
                        <a href="~/Home/preview"> <img src="@Url.Content(i.pic)" width="300" /></a>
                        <h2>Lorem Ipsum is simply </h2>
                        <div class="price-details">
                            <div class="price-number">
                                <p><span class="rupees">$899.75</span></p>
                            </div>

                            @if (Session["username"] != null)
                            {
                                <div class="add-cart">
                                    <h4><a href="~/Home/woofercart">Add to Cart</a></h4>
                                </div>
                                <div class="clear"></div>
                            }
                            else
                            {
                                <div class="add-cart">
                                    <h4><a href="~/Home/login">Login to buy</a></h4>
                                </div>
                                <div class="clear"></div>
                            }


                        </div>

                    </div>

                    //}
                    @*else
                        {
                        count = count - h;
                        continue;
                        }*@
                    //h++;

                }










                @*<a href="~/Home/preview"> <img src="@Url.Content(i.pic)" width="300" /></a>*@



                @* } *@
                @* }*@
            </div>

        </div>
    </div>
    </div>
    @*<a href="~/Home/preview"><img src="~/images/feature-pic1.jpg" alt="" /></a>*@

    @*<div class="grid_1_of_4 images_1_of_4">
                <a href="~/Home/preview"><img src="~/images/feature-pic3.jpg" alt="" /></a>
                <h2>Lorem Ipsum is simply </h2>
                <div class="price-details">
                    <div class="price-number">
                        <p><span class="rupees">$599.00</span></p>
                    </div>
                    @{
                if (Session["username"] != null)
                {
                    <div class="add-cart">
                        <h4><a href="~/Home/preview">Add to Cart</a></h4>
                    </div>
                        <div class="clear"></div>
                }
                else
                {
                    <div class="add-cart">
                        <h4><a href="~/Home/login">Login to buy</a></h4>
                    </div>
                        <div class="clear"></div>
                }
                    }
                </div>
            </div>
            <div class="grid_1_of_4 images_1_of_4">
                <a href="~/Home/preview"><img src="~/images/feature-pic4.jpg" alt="" /></a>
                <h2>Lorem Ipsum is simply </h2>
                <div class="price-details">
                    <div class="price-number">
                        <p><span class="rupees">$679.87</span></p>
                    </div>
                    @{
                    if (Session["username"] != null)
                    {
                        <div class="add-cart">
                            <h4><a href="~/Home/preview">Add to Cart</a></h4>
                        </div>
                        <div class="clear"></div>
                    }
                    else
                    {
                        <div class="add-cart">
                            <h4><a href="~/Home/login">Login to buy</a></h4>
                        </div>
                        <div class="clear"></div>
                    }
                    }
                </div>
            </div>
        </div>*@
    @*<div class="section group">
            <div class="grid_1_of_4 images_1_of_4">
                <a href="~/Home/preview"><img src="~/images/feature-pic3.jpg" alt="" /></a>
                <h2>Lorem Ipsum is simply </h2>
                <div class="price-details">
                    <div class="price-number">
                        <p><span class="rupees">$599.00</span></p>
                    </div>
                    @{
                            if (Session["username"] != null)
                            {
                                <div class="add-cart">
                                    <h4><a href="~/Home/preview">Add to Cart</a></h4>
                                </div>
                                <div class="clear"></div>
                            }
                            else
                            {
                                <div class="add-cart">
                                    <h4><a href="~/Home/login">Login to buy</a></h4>
                                </div>
                                <div class="clear"></div>
                            }
                    }
                </div>
            </div>
            <div class="grid_1_of_4 images_1_of_4">
                <a href="~/Home/preview"><img src="~/images/feature-pic4.jpg" alt="" /></a>
                <h2>Lorem Ipsum is simply </h2>
                <div class="price-details">
                    <div class="price-number">
                        <p><span class="rupees">$679.87</span></p>
                    </div>
                    @{
                        if (Session["username"] != null)
                        {
                            <div class="add-cart">
                                <h4><a href="~/Home/preview">Add to Cart</a></h4>
                            </div>
                            <div class="clear"></div>
                        }
                        else
                        {
                            <div class="add-cart">
                                <h4><a href="~/Home/login">Login to buy</a></h4>
                            </div>
                            <div class="clear"></div>
                        }
                    }
                </div>
            </div>
        </div>*@
    @*<div class="content_bottom">
            <div class="heading">
            <h3>Feature Products</h3>
            </div>
            <div class="see">
                <p><a href="#">See all Products</a></p>
            </div>
            <div class="clear"></div>
        </div>*@
    @*<div class="section group">
            <div class="grid_1_of_4 images_1_of_4">
                 <a href="preview.html"><img src="~/images/new-pic1.jpg" alt="" /></a>
                 <h2>Lorem Ipsum is simply </h2>
                <div class="price-details">
                   <div class="price-number">
                        <p><span class="rupees">$849.99</span></p>
                    </div>
                            @{
                                if (Session["username"] != null)
                                {
                                    <div class="add-cart">
                                        <h4><a href="~/Home/preview">Add to Cart</a></h4>
                                    </div>
                                    <div class="clear"></div>
                                }
                                else
                                {
                                    <div class="add-cart">
                                        <h4><a href="~/Home/login">Login to buy</a></h4>
                                    </div>
                                    <div class="clear"></div>
                                }
                            }
                </div>
            </div>
            <div class="grid_1_of_4 images_1_of_4">
                <a href="preview.html"><img src="~/images/new-pic2.jpg" alt="" /></a>
                 <h2>Lorem Ipsum is simply </h2>
                 <div class="price-details">
                   <div class="price-number">
                        <p><span class="rupees">$599.99</span></p>
                    </div>
                            @{
                                if (Session["username"] != null)
                                {
                                    <div class="add-cart">
                                        <h4><a href="~/Home/preview">Add to Cart</a></h4>
                                    </div>
                                    <div class="clear"></div>
                                }
                                else
                                {
                                    <div class="add-cart">
                                        <h4><a href="~/Home/login">Login to buy</a></h4>
                                    </div>
                                    <div class="clear"></div>
                                }
                            }
                </div>
            </div>
            <div class="grid_1_of_4 images_1_of_4">
                <a href="preview.html"><img src="~/images/new-pic4.jpg" alt="" /></a>
                 <h2>Lorem Ipsum is simply </h2>
                <div class="price-details">
                   <div class="price-number">
                        <p><span class="rupees">$799.99</span></p>
                    </div>
                            @{
                                if (Session["username"] != null)
                                {
                                    <div class="add-cart">
                                        <h4><a href="~/Home/preview">Add to Cart</a></h4>
                                    </div>
                                    <div class="clear"></div>
                                }
                                else
                                {
                                    <div class="add-cart">
                                        <h4><a href="~/Home/login">Login to buy</a></h4>
                                    </div>
                                    <div class="clear"></div>
                                }
                            }
                </div>
            </div>
            <div class="grid_1_of_4 images_1_of_4">
             <a href="preview.html"><img src="~/images/new-pic3.jpg" alt="" /></a>
                 <h2>Lorem Ipsum is simply </h2>
                 <div class="price-details">
                   <div class="price-number">
                        <p><span class="rupees">$899.99</span></p>
                    </div>
                            @{
                                if (Session["username"] != null)
                                {
                                    <div class="add-cart">
                                        <h4><a href="~/Home/preview">Add to Cart</a></h4>
                                    </div>
                                    <div class="clear"></div>
                                }
                                else
                                {
                                    <div class="add-cart">
                                        <h4><a href="~/Home/login">Login to buy</a></h4>
                                    </div>
                                    <div class="clear"></div>
                                }
                            }
                </div>
            </div>
        </div>*@

    @Html.Partial("_footer");
    <script type="text/javascript">
        $(document).ready(function () {
            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>
    <a href="#" id="toTop"><span id="toTopHover"> </span></a>
</body>
</html>


