@{
    ViewBag.Title = "_header";
}

    <title>Free Home Shoppe Website </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/slider.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="~/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="~/js/move-top.js"></script>
    <script type="text/javascript" src="~/js/easing.js"></script>
    <script type="text/javascript" src="~/js/startstop-slider.js"></script>
<script>       
    </script>
        <div class="wrap">
            
                
                
                <div class="header_bottom">
                    <div class="menu">
                        <ul>
                            
                            <li><h4><a href='#' id="hello1">BLUETOOTH</a></h4></li>
                            <li><h4><a href='#' id="hello2">  HARDWARE</a></h4></li>
                            <li><h4><a href='#' id="hello3"> HEADPHONES</a></h4></li>
                            <li><h4><a href='#' id="hello4">  KEYBOARD</a></h4></li>
                            <li><h4><a href='#' id="hello5">  LAPTOPS</a></h4></li>
                            <li><h4><a href='#' id="hello6">  LCD</a></h4></li>
                            <li><h4><a href='#' id="hello7">  MOUSE</a></h4></li>
                            <li><h4><a href='#' id="hello8">  SPEAKERS</a></h4></li>
                            <li><h4><a href='#' id="hello9"> TABLET</a></h4></li>
                            <li><h4><a href='#' id="hello10"> USB</a></h4></li>
                            <li><h4><a href='#' id="hello11">  WOOFER</a></h4></li>
                            <li><h4><a href='#' id="hello12">  PRINTERS</a></h4></li>
                           
                            <li><h4><a href='../Adminn/check1' id="">  LOGOUT</a></h4></li>
                            <div class="clear"></div>
                        </ul>
                    </div>
                   
                    <div class="clear"></div>
                </div>
                